<div
  nz-flex
  [nzVertical]="true"
  nzGap="small">
  <div
    nz-flex
    nzJustify="space-between"
    [nzVertical]="false">
    <h1 nz-typography>รายชื่อพนักงาน</h1>
    <div>
      <button
        nz-button
        nzType="primary"
        (click)="onCreate()">
        เพิ่ม
      </button>
    </div>
  </div>

  <div>
    <nz-table
      #basicTable
      [nzData]="employees">
      <thead>
        <tr>
          <th *ngFor="let column of columns">{{ column.title }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td *ngFor="let column of columns">
            <ng-container [ngSwitch]="column.type">
              <ng-template [ngSwitchCase]="'mobile'">
                {{ data[column.key] | mobile }}
              </ng-template>
              <ng-template [ngSwitchCase]="'action'">
                <div
                  nz-flex
                  nzGap="small">
                  <button
                    nz-button
                    nzType="primary"
                    (click)="onEdit(data)">
                    แก้ไข
                  </button>
                  <button
                    nz-button
                    nzType="primary"
                    nzDanger
                    nz-popconfirm
                    nzPopconfirmTitle="ลบข้อมูลพนักงาน"
                    (nzOnConfirm)="onDelete(data)">
                    ลบ
                  </button>
                </div>
              </ng-template>
              <ng-template ngSwitchDefault>
                {{ data[column.key] }}
              </ng-template>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <app-create-edit-employee
    (formSubmit)="handleSubmitForm($event)"></app-create-edit-employee>
</div>
